{# templates/user/edit.html.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: {{ 'user'|trans([], 'label') }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-person"></i> {{ 'user'|trans([],'label') }}</li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="card shadow">
            <div class="card-body">
                {{ form_row(form) }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">{{ 'btn.save'|trans([], 'label') }}</button>
                <button type="reset" class="btn btn-secondary btn-sm">{{ 'btn.reset'|trans([], 'label') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
