{# templates/registration/register.html.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: {{ 'register'|trans([], 'label') }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-person-plus"></i> {{ 'register'|trans([],'label') }}</li>
{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <div class="card shadow">        
                    <div class="card-body">
                        <h1 class="card-title border-bottom pb-2"><i class="bi bi-person-plus"></i> {{ 'register'|trans([], 'label') }}</h1>
                        {{ form_row(registrationForm.name) }}

                        <div class="row mb-3">
                            {{ form_row(registrationForm.email) }}
                        </div>
                        <div class="row mb-3">
                            {{ form_row(registrationForm.plainPassword) }}
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button data-loading="none" type="submit" class="btn btn-primary btn-sm">{{ 'btn.save'|trans([], 'label') }}</button>
                        <button type="reset" class="btn btn-secondary btn-sm">{{ 'btn.reset'|trans([], 'label') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
