{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ dias|default(1) }} {% if dias > 1 %}dias{% else %}dia{% endif %}</li>
{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            <h1 class="h5 card-title border-bottom pb-2"><i class="bi bi-graph-up"></i> Gráfico</h1>
            <div class="chart-container w-100 shadown" style="position: relative; height:65vh; width:100vw">
                <canvas id="speedtest"></canvas>
            </div>
        </div>
    </div>
    {% include 'index/_modalDetail.html.twig' %}
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('chartjs/chart.umd.min.js') }}"></script>
    <script src="{{ asset('js/index/index.js') }}"></script>
    <script>
        const LOCALE = "pt";
        const LABEL_NO = "Não";
        const LABEL_YES = "Sim";
        const STEPSPEEDMBPS = 30;
        const MAXSPEEDDOWNLOADMBPS = 750;
        const MAXSPEEDUPLOADMBPS = 90;
        const URL_JSON_DETALHE = "{{ url('app_json_detalhe') }}";
        const URL_JSON_DIAS = "{{ url('app_json_dias') }}";

        graphicShow("{{ dias }}");
        
        setInterval(function(){
            graphicShow({{ dias }});
        },1800000);
    </script>
{% endblock %}
