{# templates/speedtest_server/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Speedtest Server{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-hdd"></i> Speedtest Server</li>
    {% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>
                                <div class="d-flex justify-content-between">
                                    <div>{{ 'name'|trans([], 'label') }}</div>
                                    <div>
                                        {% if 'name' == app.request.get('sort') and 'DESC' == app.request.get('order') %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'name',order:'ASC'}) }}"><i class="bi bi-arrow-up"></i></a>
                                        {% elseif 'name' == app.request.get('sort') and 'ASC' == app.request.get('order') %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'name',order:'DESC'}) }}"><i class="bi bi-arrow-down"></i></i></a>
                                        {% else %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'name',order:'ASC'}) }}"><i class="bi bi-arrow-down-up"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </th>
                            <th class="d-none d-lg-table-cell">
                                <div class="d-flex justify-content-between">
                                    <div>{{ 'host'|trans([], 'label') }}</div>
                                    <div>
                                        {% if 'host' == app.request.get('sort') and 'DESC' == app.request.get('order') %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'host',order:'ASC'}) }}"><i class="bi bi-arrow-up"></i></a>
                                        {% elseif 'host' == app.request.get('sort') and 'ASC' == app.request.get('order') %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'host',order:'DESC'}) }}"><i class="bi bi-arrow-down"></i></i></a>
                                        {% else %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'host',order:'ASC'}) }}"><i class="bi bi-arrow-down-up"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </th>
                            <th class="d-none d-xl-table-cell">{{ 'port'|trans([], 'label') }}</th>
                            <th class="d-none d-md-table-cell">{{ 'location'|trans([], 'label') }}</th>
                            <th class="d-none d-xl-table-cell">{{ 'country'|trans([], 'label') }}</th>
                            <th class="d-none d-xl-table-cell">
                                <div class="d-flex justify-content-between">
                                    <div>{{ 'records'|trans([], 'label') }}</div>
                                    <div>
                                        {% if 'total' == app.request.get('sort') and 'DESC' == app.request.get('order') %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'total',order:'ASC'}) }}"><i class="bi bi-arrow-up"></i></a>
                                        {% elseif 'total' == app.request.get('sort') and 'ASC' == app.request.get('order') %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'total',order:'DESC'}) }}"><i class="bi bi-arrow-down"></i></i></a>
                                        {% else %}
                                            <a href="{{ path('app_speedtest_server_index', {sort:'total',order:'ASC'}) }}"><i class="bi bi-arrow-down-up"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </th>
                            <th class="d-none d-xl-table-cell">{{ 'updated'|trans([], 'label') }}</th>
                            <th class="text-center">{{ 'actions'|trans([], 'label') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in list %}
                            {% set lineNumber = (lineNumber|default(0)) + 1 %}
                            <tr>
                                <td>{{ lineNumber }}</td>
                                <td>{{ s.speedtestServer.name }}</td>
                                <td class="d-none d-lg-table-cell">{{ s.speedtestServer.host }}</td>
                                <td class="d-none d-xl-table-cell text-end">{{ s.speedtestServer.port }}</td>
                                <td class="d-none d-md-table-cell">{{ s.speedtestServer.location }}</td>
                                <td class="d-none d-xl-table-cell">{{ s.speedtestServer.country }}</td>
                                <td class="d-none d-xl-table-cell text-end">{{ s.total|number_format(0, ',', '.') }}</td>
                                <td class="d-none d-xl-table-cell text-end" id="speedtestServerDate_{{ s.speedtestServer.id }}">{{ s.speedtestServer.updatedAt|default(s.speedtestServer.createdAt)|format_datetime('short', 'short', timezone='America/Sao_Paulo', locale=app.request.locale|replace({'_': '-'})) }}</td>
                                <td class="text-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input mx-0"
                                               data-server="{{ s.speedtestServer.id }}"
                                               type="checkbox" 
                                               role="switch" 
                                               id="speedtestServer_{{ s.speedtestServer.id }}"
                                               {% if s.speedtestServer.selected == true  %}checked{% endif %}
                                               >
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8" class="text-center">{{ 'no records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script>
        $('input[data-server]').each(function () {
            $(this).click(function () {
                var id = $(this).attr('data-server');
                var selected = $(this).prop("checked");

                $.post("{{ path('app_speedtest_server_edit') }}", {id: id, selected: selected})
                        .done(function (data, textStatus, jqXHR) {
                            let updated = new Date(data.updatedAt);
                            let updatedDate = updated.toLocaleDateString([], {timeZone: 'America/Sao_Paulo'}) + " " + updated.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit', timeZone: 'America/Sao_Paulo'});

                            $('input[data-server]').each(function () {
                                let currentId = $(this).prop("id");
                                if ("speedtestServer_" + data.id !== currentId) {
                                    $("#" + currentId).prop("checked", false);
                                }
                            });

                            //$('#speedtestServer_' + data.id).prop("checked", selected);
                            $('#speedtestServerDate_' + data.id).html(updatedDate);
                        })
                        .fail(function (data, textStatus, jqXHR) {
                            console.log(data);
                            console.log(textStatus);
                            console.log(jqXHR);
                        });
            });
        });
    </script>
{% endblock %}
