{# templates/speedtest_server/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Speedtest Server{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-hdd"></i> Speedtest Server</li>
    {% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>{{ 'name'|trans([], 'label') }}</th>
                            <th class="d-none d-lg-table-cell">{{ 'host'|trans([], 'label') }}</th>
                            <th class="d-none d-xl-table-cell">{{ 'port'|trans([], 'label') }}</th>
                            <th class="d-none d-md-table-cell">{{ 'location'|trans([], 'label') }}</th>
                            <th class="d-none d-xl-table-cell">{{ 'country'|trans([], 'label') }}</th>
                            <th class="d-none d-xl-table-cell">{{ 'updated'|trans([], 'label') }}</th>
                            <th class="text-center">{{ 'actions'|trans([], 'label') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for speedtestServer in list %}
                            {% set lineNumber = (lineNumber|default(0)) + 1 %}
                            <tr>
                                <td>{{ lineNumber }}</td>
                                <td>{{ speedtestServer.name }}</td>
                                <td class="d-none d-lg-table-cell">{{ speedtestServer.host }}</td>
                                <td class="d-none d-xl-table-cell text-end">{{ speedtestServer.port }}</td>
                                <td class="d-none d-md-table-cell">{{ speedtestServer.location }}</td>
                                <td class="d-none d-xl-table-cell">{{ speedtestServer.country }}</td>
                                <td class="d-none d-xl-table-cell text-end">{{ speedtestServer.updatedAt|default(speedtestServer.createdAt)|format_datetime('short', 'short', locale=app.request.locale|replace({'_': '-'})) }}</td>
                                <td class="text-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input"
                                               data-server="{{ speedtestServer.id }}"
                                               type="checkbox" 
                                               role="switch" 
                                               id="speedtestServer_{{ speedtestServer.id }}"
                                               {% if speedtestServer.selected == true  %}checked{% endif %}
                                               >
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8" class="text-center">{{ 'no records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script>
        $('input[data-server]').each(function () {
            $(this).click(function () {
                var id = $(this).attr('data-server');
                var selected = $(this).prop("checked");

                $.post("{{ path('app_speedtest_server_edit') }}", {id: id, select: selected})
                        .done(function (data, textStatus, jqXHR) {                            
                            $('input[data-server]').each(function(){
                                $(this).prop("checked", false );
                            });
                            
                            $('#speedtestServer_' + data).prop("checked", selected);
                        }).fail(function (data, textStatus, jqXHR) {
                            console.log(data);
                            console.log(textStatus);
                            console.log(jqXHR);
                        });
            });
        });
    </script>
{% endblock %}
