{# templates/server/index.html.twig #}
{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><i class="bi bi-hdd"></i> Servers</li>
    {% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-header">
            <h1 class="h4 m-0">
                <i class="bi bi-hdd"></i> Servers
            </h1>
        </div>
        <div class="card-body border-bottom">
            <form name="server_filter" id='server_filter' method="get" data-loading="true">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="filter_name" class="form-label">Nome</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-building"></i></div>
                                <input type="text" name="filter_name" value="{{ filter_name }}" class="form-control" id="filter_name" aria-label="Nome">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="mb-3">
                            <label for="filter_location" class="form-label">Localização</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-pin-map"></i></div>
                                <select name="filter_location" id="filter_location" class="form-select" aria-label="Localização" aria-describedby="Filtro por localização">
                                    <option value{% if filter_location is null %} selected{% endif %}>Selecione uma localização</option>
                                    {% for location in locations %}
                                        <option value="{{ location }}"{% if location == filter_location %} selected{% endif %}>{{ location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="filter_country" class="form-label">País</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-globe-americas"></i></div>
                                <select name="filter_country" id="filter_country" class="form-select" aria-label="País" aria-describedby="Filtro por país">
                                    <option value{% if filter_country is null %} selected{% endif %}>Selecione um país</option>
                                    {% for country in countries %}
                                        <option value="{{ country }}"{% if country == filter_country %} selected{% endif %}>{{ country }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="mb-3">
                            <label for="filter_host" class="form-label">Host</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-pc"></i></div>
                                <input type="text" name="filter_host" value="{{ filter_host }}" class="form-control" id="filter_name" aria-label="Nome">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="filter_port" class="form-label">Porta</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-ethernet"></i></div>
                                <input type="text" name="filter_port value="{{ filter_port }}" class="form-control" id="filter_name" aria-label="Nome">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end align-items-end">
                        <div>
                            <a class="btn btn-secondary btn-sm bg-gradient shadow-sm me-1" href="{{ path('app_server_index') }}"><i class="bi bi-eraser"></i> Limpar filtro</a>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-sm bg-gradient shadow-sm"><i class="bi bi-funnel"></i> Filtrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-striped shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="d-table-cell d-xl-none">Server</th>
                        <th scope="col" class="d-none d-xl-table-cell">#</th>
                        <th scope="col" class="d-none d-xl-table-cell">Nome</th>
                        <th scope="col" class="d-none d-xl-table-cell">Localização</th>
                        <th scope="col" class="d-none d-xl-table-cell">País</th>
                        <th scope="col" class="d-none d-xl-table-cell">Host</th>
                        <th scope="col" class="d-none d-xl-table-cell">Porta</th>
                        <th scope="col" class="d-none d-xl-table-cell">Atualização</th>
                        <th scope="col" class="d-none d-xl-table-cell text-center">Selecionado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td class="d-table-cell d-xl-none">
                                <p class="m-0"><strong>Id:</strong> {{ server.id }}</p>
                                <p class="m-0"><strong>Nome:</strong> {{ server.name }}</p>
                                <p class="m-0"><strong>Localização:</strong> {{ server.location }}</p>
                                <p class="m-0"><strong>País:</strong> {{ server.country }}</p>
                                <p class="m-0"><strong>Host:</strong> {{ server.host }}</p>
                                <p class="m-0"><strong>Porta:</strong> {{ server.port }}</p>
                                <p class="m-0"><strong>Atualização:</strong> {{ server.updatedAt|default(server.createdAt)|format_datetime(pattern: 'dd/mm/yyyy HH:mm:ss') }}</p>
                            </td>
                            <td class="d-none d-xl-table-cell">{{ server.id }}</td>
                            <td class="d-none d-xl-table-cell">{{ server.name }}</td>
                            <td class="d-none d-xl-table-cell">{{ server.location }}</td>
                            <td class="d-none d-xl-table-cell">{{ server.country }}</td>
                            <td class="d-none d-xl-table-cell">{{ server.host }}</td>
                            <td class="d-none d-xl-table-cell">{{ server.port }}</td>
                            <td class="d-none d-xl-table-cell text-end">
                                {{ server.updatedAt|default(server.createdAt)|format_datetime(pattern: 'dd/mm/yyyy HH:mm:ss') }}
                            </td>
                            <td class="d-none d-xl-table-cell text-center">
                                <div class="form-check form-switch">
                                    <input class="form-check-input mx-0"
                                           data-server="{{ server.id }}"
                                           type="checkbox" 
                                           role="switch" 
                                           id="speedtestServer_{{ server.id }}"
                                           {% if server.selected == true  %}checked{% endif %}
                                           >
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center">Nenhum registro encontrado</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ include('_tableFooter.html.twig',{'registros':servers|length}) }}
    </div>
{% endblock %}
{% block javascripts_footer %}

    {{ parent() }}
    <script>
        const URL_SERVER_SELECTED = "{{ url('app_server_selected') }}";
    </script>
    <script src="{{ asset('js/server/index.js') }}"></script>
{% endblock %}