{# templates/_menu.html.twig #}
<div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_dias' and app.request.attributes.get('dias') == 1 %} active{% endif %}" href="{{ path('app_dias', {'dias': 1}) }}">1 dia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_dias' and app.request.attributes.get('dias') == 2 %} active{% endif %}" href="{{ path('app_dias', {'dias': 2}) }}">2 dias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_dias' and app.request.attributes.get('dias') == 3 %} active{% endif %}" href="{{ path('app_dias', {'dias': 3}) }}">3 dias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_dias' and app.request.attributes.get('dias') == 7 %} active{% endif %}" href="{{ path('app_dias', {'dias': 7}) }}">7 dias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_dias' and app.request.attributes.get('dias') == 31 %} active{% endif %}" href="{{ path('app_dias', {'dias': 31}) }}">31 dias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_dias' and app.request.attributes.get('dias') == 365 %} active{% endif %}" href="{{ path('app_dias', {'dias': 365}) }}">365 dias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') starts with 'app_server_index' %} active{% endif %}" href="{{ path('app_server_index') }}"><i class="bi bi-hdd"></i> Servers</a>
        </li>
    </ul>
</div>