{# templates/base.html.twig #}
<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="generator" content="">
        <title>{% block title %}Speedtest{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}" rel="stylesheet">
            <link href="{{ asset('bootstrap-icons.css', 'bootstrap_icon') }}" rel="stylesheet">
        {% endblock %}
        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
        <header class="mb-2">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-success">
                <div class="container-fluid">
                    <a class="navbar-brand text-decoration-none" href="{{ path('app_speedtest_index') }}">
                        <i class="bi bi-speedometer2"></i> Speedtest
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Navigation menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.get('_route') starts with 'app_speedtest_days' and app.request.get('days') == 1 %} active{% endif %}" href="{{ path('app_speedtest_days', {'days': 1}) }}">1 {{ 'day'|trans({},'label') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.get('_route') starts with 'app_speedtest_days' and app.request.get('days') == 2 %} active{% endif %}" href="{{ path('app_speedtest_days', {'days': 2}) }}">2 {{ 'days'|trans({},'label') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.get('_route') starts with 'app_speedtest_days' and app.request.get('days') == 3 %} active{% endif %}" href="{{ path('app_speedtest_days', {'days': 3}) }}">3 {{ 'days'|trans({},'label') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.get('_route') starts with 'app_speedtest_days' and app.request.get('days') == 7 %} active{% endif %}" href="{{ path('app_speedtest_days', {'days': 7}) }}">7 {{ 'days'|trans({},'label') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.get('_route') starts with 'app_speedtest_days' and app.request.get('days') == 31 %} active{% endif %}" href="{{ path('app_speedtest_days', {'days': 31}) }}">31 {{ 'days'|trans({},'label') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if app.request.get('_route') starts with 'app_speedtest_days' and app.request.get('days') == 365 %} active{% endif %}" href="{{ path('app_speedtest_days', {'days': 365}) }}">365 {{ 'days'|trans({},'label') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav aria-label="breadcrumb" class=" sticky-top bg-success-subtle shadow border-bottom border-success" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb m-0 p-2">
                    <li class="breadcrumb-item"><a href="{{ path('app_speedtest_index') }}" class="text-decoration-none"><i class="bi bi-house"></i> {{ 'home'|trans({},'label') }}</li></a>
                        {% block breadcrumb %}{% endblock %}
                </ol>
            </nav>
        </header>
        <main>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title h4 m-0">
                            {% block title_body %}{% endblock %}
                        </h1>
                    </div>
                    {% block body %}{% endblock %}
                </div>

            </div>
        </main>
        <footer class="mt-2">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-bottom bg-success">
                <div class="container-fluid justify-content-end">
                    <div class="text-end text-light">
                        <small><i class="bi bi-bookmark"></i> {{ 'version'|trans({},'label') }}: {{ app.request.server.get('APP_VERSION') }}</small>
                    </div>
                </div>
            </nav>
        </footer>
        {% block javascripts_footer %}
            <script src="{{ asset('jquery.min.js', 'jquery') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js', 'bootstrap') }}"></script>
        {% endblock %}
    </body>
</html>